
.header
{
	color: white;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.logo
{
	width:150px;margin-top: 30px;border-radius: 400px;
	box-shadow: -5px 10px 50px rgb(53, 51, 51);
}

#login_button
{
	width: 30%;
	font-size: 20px;
	float: right;
	border: none;
	background: linear-gradient(to right top, rgb(51, 160, 241), rgb(37, 145, 217), rgb(24, 130, 193), rgb(10, 115, 170), rgb(0, 100, 148));
}
#login_button:hover{
	background: linear-gradient(to right top, rgb(0, 100, 148), rgb(10, 115, 170), rgb(24, 130, 193), rgb(37, 145, 217), rgb(51, 160, 241))
}
.brand{
	width: 50%;
	background: linear-gradient(to right top, rgb(51, 160, 241), rgb(37, 145, 217), rgb(24, 130, 193), rgb(10, 115, 170), rgb(0, 100, 148));
	position: fixed;
	top: 0px;
	height: 100%;
}
.brand h3{
	font-weight: bold;
}
.login{
	width: 50%;
	height: 100%;
	float: right;
	padding: 10px;
	padding-top: 10%;
	background: white;
}
.login_header{
	float: left;
}
.container{
	text-align: center;
}
.background{
	background: linear-gradient(90deg, rgb(51, 160, 241), rgb(37, 145, 217), rgb(24, 130, 193), rgb(10, 115, 170), rgb(0, 100, 148));
}
.color_white{
	color: white;
}
.room_container{
	background-color: rgba(255,255,255,0.8);
	color: black;
	font-size: 25px;
	cursor: pointer;
	padding: 5px;
    border-radius: 10px;
	margin: 10px;
}